<h1>Sporsmal Data</h1>

<p>This component demonstrates fetching Sporsmal data from the server.</p>

<p *ngIf="!sporsmalList"><em>Loading...</em></p>



<table class='table' *ngIf="sporsmalList">
  <thead>
    <tr>
      <th>ID</th>
      <th>Spørsmål</th>
      <th>Poeng</th>
      <th>Antall stemmer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sporsmal of sporsmalList">
      <td>{{ sporsmal.ID }}</td>
      <td>{{ sporsmal.sp }}</td>
      <td>{{ sporsmal.poeng }}</td>
      <td>{{ sporsmal.antallStemmer }}</td>
      <td>
      
    </tr>
  </tbody>
</table>
