<h1>FAQ</h1>

<p>Dette er spørsmål som blir stilt ofte:</p>

<p *ngIf="!sporsmalList"><em>Loading...</em></p>



<table class='table' *ngIf="sporsmalList">
  <thead>
    <tr>
      <th>ID</th>
      <th>Spørsmål</th>
      <th>Svar</th>
      <th>Nyttig?</th>
      <th>Gi din mening</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sporsmal of sporsmalList">

      <td>{{ sporsmal.sporsmalNr }}</td>
      <td>{{ sporsmal.sp }}</td>
      <td>{{ sporsmal.svar }}</td>
      <td>{{ sporsmal.totalOppStemmer }} av {{ sporsmal.totalStemmer }} syntes det var nyttig.</td>
      <!--Denne linken kræsjer database-hentingen-->
      <td><a [routerLink]="['/stemmeSporsmal/', FAQ.sporsmalNr]">Nyttig</a></td>

    </tr>
  </tbody>
</table>
